<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.lfdb.particity">

    <permission
        android:name="${applicationId}.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <uses-feature android:name="android.permission.CAMERA" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="br.com.lfdb.particity.ZupApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="br.com.lfdb.particity.OpeningActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.lfdb.particity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="br.com.lfdb.particity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name="br.com.lfdb.particity.SoliciteActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.lfdb.particity.SolicitacaoDetalheActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.lfdb.particity.EditarContaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="br.com.lfdb.particity.TermosDeUsoActivity"
            android:label="@string/termos_de_uso"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.lfdb.particity.CadastroActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.lfdb.particity.RedesSociaisCadastroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.lfdb.particity.WarningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.lfdb.particity.FiltroExploreNovoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.lfdb.particity.FiltroEstatisticasNovoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.lfdb.particity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.lfdb.particity.RecuperarSenhaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.lfdb.particity.DetalheMapaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.lfdb.particity.social.auth.TwitterAuth"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="br.com.lfdb.particity.social.auth.GooglePlusAuth"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="br.com.lfdb.particity.social.auth.FacebookAuth"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="eu.janmuller.android.simplecropimage.CropImage"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="br.com.lfdb.particity.receiver.PushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/appFacebook_id" />
        <!-- Google Maps -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_key" />
        <!-- Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="br.com.lfdb.particity.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>